form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    margin:auto;
    background-color:cornsilk;
    margin-top: 5%;
    
}

form input{
    
    height: 60px;
    min-width: 300px;
    margin:10px auto;
    font-size: medium;
}